.contact-form{
    display: inline-block;
    margin: 0 auto;
  }
  .contact-form form{
  margin: 30px auto;
  }
  input[type="text"]{
    padding: 15px 20px;
    border: none;
    margin: 10px 10px 20px;
    border-radius:5px;
  }
  input[type="email"]{
    padding: 15px 20px;
    border: none;
    margin: 10px 10px 20px;
    border-radius:5px;
  }
  textarea{
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
  }
  .down-arrow{
    color:#e94560;
    margin-left: 10px;
    font-size: 50px;
  }
  .sendMessage{
    padding: 10px 30px;
    background-color: #eeeeee;
    border:none;
    border-radius: 35px;
    margin: 20px auto;
    color:#000;
  }

  @media (max-width:550px)
  {

    .contact-form{
      display: block;
      padding:10px 5px;
    }
    textarea{
      margin: 10px auto;
      width: 100%;
    }
    input[type="text"]{
      margin:10px auto;
      width: 100%;
    }
    input[type="email"]{
      margin:10px auto;
      width: 100%;
    }

  }
  #contact_footer
  {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }